html,
body {
  height: 100%;
}

body {
  @extend %rubik-400;
  color: $dark;
  background-color: #F9FAFF;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

section  {
  padding-bottom: 120px;
}

a {
  color: $dark;
  transition: color 0.2s ease;
}


a:focus {
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);
  border-radius: 5px;
  
  &:active {
    text-shadow: 2px 2px 5px 0 rgba(49, 53, 43, 0.50);
  }
}

.title {
  font-size: 36px;
  color: $darkBlue;
  font-weight: 500;
}