html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
li {
  list-style: none;
}

a,
button,
textarea,
input {
  outline: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  border: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font:  inherit;
}

