$black: #000;
$white: #FAFAFA;
$brown: #7B6152;
$sand: #BEA495;
$yellow: #FFBD59;
$gray: #A5978E;
$background: #FFF8F3;

%background {
  background-position: center center;
  background-repeat: no-repeat;
   background-size: cover;
}



